/* nav section */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Basic styling for sections */
.container {
    overflow: hidden;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.container-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left-section {
    width: 50%;
    padding: 20px;
}

.image-profile {
    max-width: 70%;
    height: auto;
}
.right-section {
    width: 50%;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: left;
}
.location {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-icons li {
    display: inline-block;
    margin-right: 10px;
}
.social-icons li:last-child {
    margin-right: 0;
}
.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}


/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#home {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
   
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
    margin: 0 10px; /* Add spacing between images */
   
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    /* lef looks good but top doesnt */
    transform: translate(0%, -50%);
    user-select: none;
    
}

#home-heading, #home-underheading {
    text-align: center;
}

#home-heading {
    color: blue;
}

#home-underheading {
    color: rgb(83, 0, 0);
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }
  